<div class="fonas-prisijungimas">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8 col-lg-6 col-xl-5 my-5">
                    <div class="card overflow-hidden">
                        <div class="bg-secondary">
                            <div class="row align-items-center">
                                <div class="col-7">
                                    <div class="text-primary p-4">
                                        <h4 class="text-white">Prisijungimas</h4>
                                    </div>
                                </div>
                                <div class="col-5 align-self-end">
                                    <img src="assets/paveiksleliai/prisijungimoDivas1.png" alt="" class="img-fluid">
                                </div>
                            </div>
                        </div>
                        <div class="card-body pt-0"> 
                            <div>
                                <a href="#">
                                    <div class="logotipas mb-3">
                                        <span class="rounded-circle bg-light">
                                            <img src="assets/paveiksleliai/logotipas.jpg" alt="" class="rounded-circle" height="34">
                                        </span>
                                    </div>
                                </a>
                            </div>
                            <div class="p-2">
                                <form class="form-horizontal" action="pagrindinis" [formGroup]="prisijungimoForma">
                                        <div class="form-group">
                                            <label for="slapyvardis">Slapyvardis</label>
                                            <input type="text" class="form-control" id="slapyvardis" placeholder="Įveskite slapyvardį" formControlName="slapyvardis">
                                        </div>
                
                                        <div class="form-group">
                                            <label for="slaptazodis">Slaptažodis</label>
                                            <input type="password" class="form-control" id="slaptazodis" type="password" placeholder="Įveskite slaptažodį" formControlName="slaptazodis">
                                        </div>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="customControlInline">
                                        <label class="custom-control-label" for="customControlInline">Prisiminti mane</label>
                                    </div>
                                    
                                    <div class="mt-3">
                                       <button (click)="prisijungimasAutentifikacija()" class="btn btn-secondary btn-block waves-effect waves-light" >Prisijungti</button>
                                    </div>
                                    <!-- type="submit" -->
                                    <div class="mt-4 text-center">
                                        <a (click)="prisijungimasSlaptazodis()" class="text-muted"><i class="mdi mdi-lock mr-1"></i>Pamiršai slaptažodį?</a>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="mt-3 text-center text-white">
                        <p>Neturite vartotojo? <a (click)="prisijungimasRegistracija()" class="font-weight-medium text-white"> Užsiregistruoti </a> </p>
                        <p>© {{laikotarpis}} P.Norkus-Bakalauras</p>
                    </div>
                </div>
            </div>
        </div>
</div>
