.fonas-prisijungimas{
    background: linear-gradient(rgba(214, 237 ,23, 0.5),rgba(96, 96, 96, 0.9)),url(../../../assets/paveiksleliai/prisijungimoFonas.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    overflow-y: hidden;
}

.logotipas{
    margin-top: -16px;
}